apm-server:
  host: "0.0.0.0:8200"
  rum:
    enabled: true
    allow_origins: ["*"]
  kibana:
    enabled: false

output.elasticsearch:
  hosts: ["elasticsearch:9200"]
  username: "elastic"
  password: "${ELASTIC_PASSWORD}"