tunnel: {{ cloudflared_tunnel_id }}
credentials-file: /etc/cloudflared/{{ cloudflared_tunnel_id }}.json

ingress:
  - hostname: {{ cloudflared_hostname_apm }}
    service: http://localhost:8200
  - hostname: {{ cloudflared_hostname_es }}
    service: http://localhost:9200
  - service: http_status:404